:root {

--azul-1: #112C3C;
--azul-2: #325569;
--azul-3: #557D96;

--celeste-1: #215376;
--celeste-2: #2B78A4;
--celeste-3: #379CD4;

--narajo-1: #F66B0E;
--narajo-2: #F58A42;
--narajo-3: #F4A876;

--blanco-1: #EFEFEF;
--blanco-2: #B1B1B1;
--blanco-3: #727272;
}